form{
    width: 800px;
    margin: 70px auto;
}

input:read-only {
    background-color: gray;
    cursor: default;
}

form input[type="text"], form input[type="password"], form input[type="number"]{
    width: 80%;
    margin: 10px auto;
    display: block;
    font-size: 26px;
    text-align: center;
}

form input[type="submit"]{
    width: 200px;
    margin: 10px auto;
    display: block;
    font-size: 26px;
    text-align: center;
    border: 2px solid black;
    color: black;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
}

form input[type="submit"]:hover{
    color: white;
    background-color: black;
}

.error{
    color: red;
    font-size: 26px;
    text-align: center;
}