<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Can't be seen</title>
    <link rel="stylesheet" href="/commons.css">
</head>
<body>

<img th:fragment="logo" id="logo" src="/logo.png" alt="">

<div th:fragment="menu" id="menu">
    <a href="/main" class="menu-button">Main Page</a>
    <p class="separator"> | </p>
    <a href="/addApp" class="menu-button" th:if="${isLogged} and ${role=='ADMIN'}">Add Application</a>
    <p class="separator" th:if="${isLogged} and ${role=='ADMIN'}"> | </p>
    <a href="/login" class="menu-button" th:if="${!isLogged}">Login</a>
    <a href="/logout" class="menu-button" th:if="${isLogged}">Logout</a>
</div>

</body>
</html>