<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nie widzisz tego</title>
    <link rel="stylesheet" href="/commons.css">
</head>
<body>

<img th:fragment="logo" id="logo" src="/logo.png" alt="">

<div th:fragment="menu" id="menu">
    <a href="/main" class="menu-button">Strona Główna</a>
    <a href="/add" class="menu-button" th:if="${isLogged} and ${role=='ADMIN'}">Dodaj Produkt</a>
    <a href="/login" class="menu-button" th:if="${!isLogged}">Zaloguj</a>
    <a href="/logout" class="menu-button" th:if="${isLogged}">Wyloguj</a>
</div>

</body>
</html>