<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magazyn</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/commons.css">
</head>
<body>

<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>

<div id="content">
    <div class="product-box">
        <div class="name-box">Nazwa Produktu</div>
        <div class="quantity-box">Ilość Sztuk</div>
    </div>

    <!--
    <th:block th:each="product : ${products}">
        <div class="product-box">
            <div class="name-box" th:text="${product.name}"></div>
            <div class="quantity-box" th:text="${product.quantity}"></div>
            <a th:if="${isLogged} and ${role=='ADMIN'}" th:href="@{/edit/{id}(id=${product.id})}" class="button" id="edit"></a>
            <a th:if="${isLogged} and ${role=='RESUPPLIER'}" th:href="@{/resupply/{id}(id=${product.id})}" class="button" id="resupply"></a>
        </div>
    </th:block>-->
</div>

</body>
</html>