<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="/register.css">
    <link rel="stylesheet" href="/commons.css">
    <link rel="stylesheet" href="/commonsForm.css">
    <script src="/userValidator.js"></script>
</head>
<body>

<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>

<p class="error" id="login-err"></p>
<p class="error" id="pass-err"></p>
<p class="error" id="pass2-err"></p>
<p class="error" id="equal-err"></p>

<form id="register-form" method="post" onsubmit="return registerValidate()">
    <p th:if="${info}" th:text="${info}" class="error"></p>
    <input id="login" type="text" placeholder="Login" th:field="*{RegistrationModel.login}">
    <input id="pass" type="password" placeholder="Hasło" th:field="*{RegistrationModel.pass}">
    <input id="pass2" type="password" placeholder="Powtórz Hasło" th:field="*{RegistrationModel.pass2}">
    <input type="submit" value="Zarejestruj">
</form>

</body>
</html>